.Modal {
    color: white;
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 5em 0 5em;
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: .9);
    z-index: 9999;
}

.menu-title {
    text-align: center;
    text-transform: uppercase;
    font-family: "sans-serif";
    font-size: 4em;
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: solid 3px white;
}

.menu-ctn {
    display: flex;
}

.menu-content {
    margin: 0 auto;
    width: 100%;
  
    .navigation-menu {
        width: 50%;
        float: left;

        &:empty {
            display: none;
        }
    
        a[class^="menu-item"] {
            border-right-width: 3px;
        }
        
        .menu-item {
            border-bottom-width: 3px;
        }
    }

    .media-menu {
        width: 50%;
        float: right;
        flex-grow: 1;

        &.library-empty {
            justify-content: center !important;

            & a[class^="menu-item"] {
                border: none !important;
            }

        }
    }
  
}

a[class^="menu-item"] {
    display: block;
    padding: .5em 0;
    text-align: center;
    font-size: 1.5em;
    text-decoration: none;
    color: white;
    border-color: white;
    border-style: solid;
    border-width: 0;
    &:active, &:hover {
        color: #8BD2CF !important;
    }
}

.media-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .menu-item {
        flex: 1;
        display: flex;
        align-items: center;
        align-self: center;
    }
    .menu-item-last {
        border-top-width: 3px !important;
    }
}

.ReactModal__Body--open  {
    .overlay-icon:not(.closeBtn), #fixed-footer, #title-ctn, .HotspotOverlay {
        display: none !important;
    }
}

.hotspoticon{
    background-color:white;
    transform: scale(1);
    border-radius: 1em;
    animation-name: flash1;
    animation-duration: 1s;
    animation-iteration-count: 4;
    animation-timing-function: linear;
    border: black;
    animation-play-state: paused;

}
.hotspoticon[flash='1'] {
    animation: flash1;
  }

@keyframes flash1{
    from{color: rgba(255, 255, 255, .7); fill:#120896;}
    to{color:#120896; fill:rgba(255, 255, 255, .7);}
}
.hotspotdialog {
    background-color: rgba(255, 255, 255, .7);
    z-index: 10;
    border-radius: 1em;
    padding: .75em; 
    font-size: 15px;
    padding-top: -3;
}

.HotspotOverlay {
    z-index: 10;
}


