.help-body {
    background-color: black;
    color: white;
    padding: 0 5em;
    overflow-y: scroll;

    .subtitle, .title {
        padding: 0 1.5em;
    }

    .title {
        padding-bottom: .25em;
        border-bottom: solid 3px white;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Raleway', sans-serif;
        font-size: 3rem;
    }

    .rules {
        &>li {
            counter-increment: item;
            list-style: none;
            color: lightgray;
            margin: 1em 0;
            &:before {
                display: inline-block;
                padding-right: .5em;
                font-size: 1.5em;
                color: white;
                font-weight: bold;
                content: counter(item) ".";
            }
        }
    }

    .debug {
        padding: 0 2.5em;
        font-weight: bold;
        color: red;
    }

    .closeBtn {
        position: fixed;
        right: .5em;
        top: 0;
        z-index: 5;
    }

}