@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) { 
    html::before {
        background-color: black;
        width: 100vw;
        height: 100vh;
        display: flex;
        z-index: 9999;
        justify-content: center;
        text-align: center;
        align-items: center;
        color: white;
        content: "Please rotate your device to landscape mode.";
        font-size: 2em;
    }

    body {
        display: none;
    }
}

// global styling
body {
    button, a {
        &:focus {
            outline-color: #8BD2CF;
            outline-style: solid;
            outline-width: 2px;
        }
    }
    a {
        &:hover, &:focus {
            text-decoration: underline !important;
        }
    }

}

body.homepage {
    background-image: var(--homepage-background);
    background-color: black;
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center; 
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;

    #introscreen {
        position:fixed;
        width: 100%;
        z-index: 1;
        opacity: 1;
        border-width: 0;
        img {
            width: 100%;
            left:0px;
        }
    }
    
    #buttona {
        position: fixed;
        font-size: 5vw;
        padding: 0;
        border: none;
        background: none;
        text-align: center;
        width: 100%;
        bottom: 20%;
        button {  
            font-size: 5vw;
            color: white;
            -webkit-text-stroke: 2px black;
            font-weight: bold;
            font-style: italic;
            background-color: rgba(1, 1, 0, .25);	  
            padding: 0;
            border: none;
            background: none;
        }
    }
    
    #introTxt {
        position: relative;
        top: 1em;
        z-index: 4;
        font-size: 5vw;
        font-weight: bold;
        font-style: italic;
        color: white;
        text-shadow: 
        2px 2px 4px #000;
    }
    
    #overlay {
        position: fixed; /* Sit on top of the page content */
        width: 100%; /* Full width (cover the whole page) */
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
    }
    
}
